/* HEADER */
header {
    display: flex;
    width: 100%;
}
h1{
    color: black;
}
header h2{
    color: #F29A2E;
}
nav {
    display: none;
}
nav ul li a{
    color: black;
    transition: all 0.75s ease-out;
}
nav ul li a:hover{
    color: #F29A2E;
       
}
.titol {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headermenu {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
.lupa input {
    height: 20%;
}
.menuhamburguesa {
    display: flex;
    padding: 5vw;
    justify-self: center;
    align-items: center;
}
#logo {
    height: 155px;
    width: 155px;
}
.lupa {
    display: none;
}
#lupa {
    width: 20px;
    height: 20px;
}
/* NAV */


/* BANNER */


/* MAIN */
main{
    padding-bottom: 3em;
}
main h2{
    padding: 1.5em;

}
.tenda {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.produc {
    flex: 1;
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;   
}
.fotoproducte {
    width: 100vw;
}
.produc img, .produc h3, .produc div p, .produc div button {
    padding: 7px;
}
.produc div{
    width: 100%;
    justify-content: center;
    align-items: center;

}
.produc div p{
    width: 25%;
}

.botonindex {
    width: 25%;
    background-color: #F29A2E;
    border-radius: 20px;
    transition: all 0.75s;
    
}
.botonindex:hover{
    background-color: #F2D0A7;
}

/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
}
.divFooter{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 1.5em;
}
.divFooter a{
    text-decoration: none;
    padding: 1em;
    color: black;
    transition: all 0.75s;
}
.divFooter a:hover{
    color: #F29A2E;
}
.ico_footer{
    width: 25px;
    height: 25px;
}
.icoDiv {
    align-items:center;
}