/* HEADER */
header {
    display: flex;
    width: 100%;
}
h1{
    color: black;
}
header h2{
    color: #F29A2E;
}
nav {
    display: none;
}
.titol {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headermenu {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
}
.menuhamburguesa {
    flex: 0;
    display: flex;
    padding: 5vw;
    justify-self: center;
    align-items: center;
}
#logo {
    height: 170px;
    width: 170px;
}
.lupa {
    display: none;
}
#lupa {
    width: 20px;
    height: 20px;
}
/* NAV */


/* BANNER */


/* MAIN */
.tenda {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.produc {
    flex: 1;
    display: flex;
    height: 100%;
    width:100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}
.produc img, .produc h3, .produc p, .produc button {
    padding: 7px;
}
.botonindex {
    width: 20%;
    background-color: #F29A2E;
    border-radius: 20px;
}
/* FOOTER */
.divFooter{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex:1;
    flex-direction: column;
    padding: 1.5em;
}
.divFooter a{
    text-decoration: none;
    padding: 1em;
    color: black;
}
.divFooter a:hover{
    color: #F29A2E;
}
.ico_footer{
    width: 25px;
    height: 25px;
}
.icoDiv {
    align-items:center;
}